:root {

    /*------------------------
          COLORS
------------------------*/
    --top: #463f3a;
    --main1: white;
    --main2: #bcb8b1;
    --main3: #f4f3ee;
    --bottom: #e0afa0;
    --text: #6f6866;

}

;