:root {

    /*------------------------
          COLORS
------------------------*/
    --dark: #250902;
    --dark-brown: #38040e;
    --dark-red: #640d14;
    --blood: #800e13;
    --red: #ad2831;
}

;